@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Noto+Sans&display=swap');

.App {
  text-align: center;
}

#end-message {
  height: 2rem;
  /* background-color: red; */
  font-size: x-large;
  font-weight: 700;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

h1,
span {
  font-family: 'Fredericka the Great', cursive;
}

span {
  font-size: x-large;
  font-weight: 700;
}
